body {
  background-color: cornsilk;
}

h1 {
  color: darkslategray;
  text-align: center;
  font-family: Fantasy, Papyrus, sans-serif;
  font-size: 40px;
}

p {
  color: darkslategray;
  font-family: monaco;
  font-size: 20px;
  text-align: center;
}

img { 
height: 500px;
max-width: 740px;
}
